/* Root settings, reset */

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, rgba(197, 194, 247, 1) 0%, rgba(37, 210, 144, 1) 41%, rgba(0, 255, 218, 1) 81%);
}

/* Nawigacja i header */

.header {
  width: 100%;
  background-color: rgb(127, 188, 245);
}

.navigation {
  display: flex;
  justify-content: space-around;
  border-radius: 16px;
  background-color: rgb(223, 135, 135);

}

.navigation__list {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  list-style-type: none;
  text-align: end;

}

.navigation__item {
  display: inline-block;
}

.navigation__link {
  display: inline-block;
  padding: 2rem 3rem;
  text-decoration: none;
  font-family: arial, sans-serif;
  color: brown;
  font-size: 2rem;
  text-transform: uppercase;
}

.header__title {
  padding: 2rem 1.5rem;
  font-size: 4.8rem;
  font-family: arial, sans-serif;
}

.header__image {
  width: 30vw;
  padding: 2rem;
}

/* Main */

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;

}



/* Sekcja O Mnie */




/* Sekcja Tajemna Wiedza */




/* Opis znacznika HTML */




/* Footer */